$bg:rgb(16,16,16);
.banner{
  height:600px;
background-color:$bg; 
	// background-image: url(https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png);

  // box-shadow: inset 0 -8em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  // 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
&:after{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	background:$bg;
	opacity:0.4;
}
}