$bg:rgb(0, 0, 4);
.banner{
  height:600px;
  background-color:$bg; 	
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
&:after{

//   background: #030303;
// background: radial-gradient(circle,rgba(255, 87, 51,0) 0,rgba(8,41,44,.8) 50%,#030303 80%);
	background: rgb(34,193,195);
background: linear-gradient(265deg, transparent 43%, black 84%);

	content:"";
	
	width:100%;
	height:100%;
	position:absolute;
	// background:$bg;
	// opacity:0.4;
}
}
 .Banner_content{
	position:absolute;
	margin-left:20px;
  // background-color:red;
	 
  top: 45%;
  width: 40%;
  // text-align: center;
  // font-size: 18px;
	}
.Banner_title{
	float:left;
	margin-left:7.8%;
	// background:red;
	// position:relative;
	white-space: nowrap;
	font-weight: 600;
	font-size:30px;
  // background-color:red;
    margin-bottom: 100px;
 //    max-height: 132px;
 //    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
	-webkit-tap-highlight-color:transparent;
}
.Banner_description{
  max-height:200px;
  // background-color:red;
  position:absolute;
	white-space: nowrap;
	margin:25px;
	font-size:12px;
		margin-left:8%;
    max-width: 80%;
    // background-color:yellow;
  -webkit-line-clamp: 4;
    font-weight: 400;
	  font-size:12px;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height:1.3em;
    // letter-spacing:10px;
     white-space: normal;
     display: block;
     overflow: hidden;
   max-height: 5em;
		// background: linear-gradient(to top, white, transparent);

}
.BannerButton{
	    // background: #202125;
   position:absolute;
    // font-weight: 400;
   
	margin-left:10%;
	
  
	margin-top:25%;
    -webkit-text-size-adjust: none;
	 
  > .watchnow{
       background: #cae962!important;
    color: #111!important;
    border-color: #cae962!important;
    box-shadow: none!important;
		    
		  
		    margin-right: 0.5rem!important;
    display: inline-block;
  
   
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
   
    user-select: none;
 
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.6rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
	 > .Detail{
          background: #cae962!important;
    color: #111!important;
    border-color: #cae962!important;
    box-shadow: none!important;
		    
		  
		margin-left: 0.5rem!important;
    display: inline-block;
  
   
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
   
    user-select: none;
 
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.6rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}