@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap");
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(to bottom, #000, transparent);
  /* Added top, left, and right properties to fix the navbar to the top of the page */
}

.header {
  > h {
    font-size: 25px;
    color: white;
    font-weight: 1000;
    font-family: "Kenia", cursive;
  }

  > div {
    // background-color: black;
    margin: auto;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;

    > ul {
      > li {
        > a {
          position: relative;
          z-index: 1;

          &:before {
            transform: all 0.5s;
          }

          &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: ".";
            color: transparent;
            background: #f1c40f;
            visibility: none;
            opacity: 0;
            z-index: -1;
            border-radius: 5px;
          }

          &:hover {
            color: black;
          }

          &:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
        }
      }
    }

    > div {
      position: absolute;
      top: 25px;

      right: 16px;
      padding: 10px;

      > svg {
        color: white;
        float: right;
        font-size: 1.8rem;
        padding: 30px;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }
    }
  }
}

nav {
  width: auto;
  margin: 0 auto;
  background: black;
  padding: 40px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: black;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;

  input {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    color: #333;

    &::placeholder {
      color: #aaa;
    }
  }

  .react-autosuggest__suggestions-list {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 10px;

    li {
      padding: 10px;
      cursor: pointer;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      border-radius: 10px;
      margin-right: 10px;
      &:hover {
        background-color: #f1c40f;
        transform: translateY(-3px);
        box-shadow: 0px 6px 15px rgba(8, 8, 8, 0.2);
      }
    }
  }
}
