.player-wrapper{
  margin : 5px;
  padding: 10px;
  background-color: #D3D3D3;
  border-radius: 5px;
}


.moviecomp{
  // background-color:crimson;
  width:200%;
  // display:flex;
  // flex-direction: column;
  height: 100%;
}
.suggetion{
  display:flex;
  flex-direction:row;
  height:fit-content;
  // background-color:red;
}
.movieblock{
  width: fit-content;
  object-fit:cover;
  // position:absolute;
  background-color:black;
  border-radius:15px;


  >img{
      border-radius:15px;
      object-fit:center;
      height:150px;
      width:300px;  
    &:after{
       background: rgb(34,193,195);
      background: linear-gradient(265deg, transparent 43%, black 84%);
    	// background-size:cover;
	    // background-repeat:no-repeat;
    }
     
  }
 }
.main{
  display:flex;
  flex-direction: column;
    width:180%;

}
// .player-wrapper{
//   display:flex;
//   flex-direction:column;
// }
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.watchnow{
  background: #F1C40F!important;
color: #111!important;
border-color: #F1C40F!important;
box-shadow: none!important;
   
 
   margin-right: 0.5rem!important;
display: inline-block;


text-align: center;
vertical-align: middle;
cursor: pointer;


user-select: none;

border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.6rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 600px) {
  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

    // Adjusting wrapper styles for smaller screens
    margin: 5px 0;
  }
  
  // Making images and other components more responsive
  img, video, iframe {
    max-width: 100%;
    height: auto;
  }
}
