.searchBannermovies{
  height: 600px;
   
  background-image:url(https://free4kwallpapers.com/uploads/originals/2016/07/04/megatron-transformers-the-last-knight-wallpaper.jpg);
  width: 100%;
	background-size: 100% 100%;
// background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -8em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
// .boxslide{
//     height: 450px;
//     width: fill;
//     margin:50px;
//     margin-top:125px;
//     background-color:red;
//     border: 2px solid white;
//     border-radius:15px;
//     background-image:url(https://free4kwallpapers.com/uploads/wallpaper/megatron-transformers-the-last-knight-wallpaper-1024x768-wallpaper.jpg);
//     background-size: 100% 100%;
//     background-clip: border-box;

// }
.movies{
  background-color:#1C2333;
  
}

