@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gloria+Hallelujah&family=Josefin+Sans:wght@300&family=Kanit:wght@100&family=Monoton&family=Montserrat:wght@900&family=Playfair+Display:ital,wght@1,600&display=swap');
*{
  margin:0%;
    padding:0%;
  font-family:"Roboto",sans-serif;
  color:whitesmoke;
// background:black;
}
a{
  color:white;
  text_decoration:none;
}

 

